In [6]:
import pandas as pd 
import numpy as np
from sqlalchemy import create_engine

In [9]:
imports = "resources/Internet Usage vs income per capita.csv"
imports_df = pd.read_csv(imports)
new_imports = imports_df.drop([0,1,44,45])

In [8]:
imports_transformed = new_imports [["Grandes Regiões, Unidades da Federação e Regiões Metropolitanas", "Rendimento médio mensal domiciliar per capita das pessoas de 10 anos ou mais de idade (R$)", "Unnamed: 2", "Unnamed: 3", "Rendimento mediano mensal domiciliar per capita das pessoas de 10 anos ou mais de idade (R$)","Unnamed: 5","Unnamed: 6"]]
imports_transformed = imports_transformed.rename(columns={"Grandes Regiões, Unidades da Federação e Regiões Metropolitanas": "Brazilian_States", "Rendimento médio mensal domiciliar per capita das pessoas de 10 anos ou mais de idade (R$)": "Average_Per_Capita", "Unnamed: 2": "With_Access_Ave", "Unnamed: 3": "Without_Access_Ave", "Rendimento mediano mensal domiciliar per capita das pessoas de 10 anos ou mais de idade (R$)": "Median_Per_capita","Unnamed: 5":"With_Access_Med","Unnamed: 6":"Without_Access_Med"})

imports_transformed.set_index("Brazilian_States", inplace=True)
imports_transformed

,Average_Per_Capita,With_Access_Ave,Without_Access_Ave,Median_Per_capita,With_Access_Med,Without_Access_Med
Brazilian_States,,,,,,
Brasil,1 114,1 391,743,733,843,566
Norte,756,990,556,494,601,399
Rondônia,947,1 190,728,692,800,552
Acre,754,1 074,503,431,642,335
Amazonas,734,970,501,451,593,352

In [ ]:
imports_transformed.drop([0,1]).head(3)

In [ ]:
import sqlalchemy 
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [ ]:
engine = create_engine("postgres://marciooliver:postgres@localhost:5432/ETL_Project")
conn = engine.connect()

In [ ]:
engine.table_names()

In [ ]:
jordan_export_import.to_sql(name = "jordan_export_import", con = engine, if_exists = "append", index = True)